<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
  </head>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: black;
    }
    h1,
    h2 {
      color: white;
      text-align: center;
      margin: 0;
      margin-bottom: 10px;
    }
    #contaier {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80vw;
      max-width: 1000px;
      align-items: center;
      opacity: 0.8;
    }
    #token-box {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 10px;
      margin: 40px 0px;
      background-color: white;
    }
    #token-text {
      flex-grow: 1;
      background-color: white;
      font-size: 20px;
      border-width: 0;
      border-color: white;
      border-radius: 3px;
    }
    #token-copy-btn {
      padding: 2px 5px;
      margin-left: 10px;
    }

    #snackbar {
      visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 2px;
      padding: 16px;
      position: fixed;
      z-index: 1;
      left: 50%;
      bottom: 130px;
      font-size: 17px;
    }
    #snackbar.show {
      visibility: visible;
    }
  </style>
  <body>
    <div id="contaier">
      <h1>Authentication succeded.</h1>
      <h1>Please copy and paste this access key to the command window:</h1>

      <div id="token-box">
        <input type="text" value="<%= token %>" id="token-text" readonly />
        <button id="token-copy-btn" onclick="myFunction()">Copy</button>
      </div>

      <h1>After doing so, please close this browser.</h1>
      <div id="snackbar">AccessKey copied!</div>
      <a href="/auth/logout">Logout(for test)</a>
    </div>
  </body>

  <script>
    function myFunction() {
      var copyText = document.getElementById("token-text");
      navigator.clipboard.writeText(copyText.value);

      var x = document.getElementById("snackbar");
      x.className = "show";
      setTimeout(function () {
        x.className = "hidden";
      }, 2000);
    }
  </script>
</html>
